<app-header></app-header>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="About Mortar Board Service"> 
        <app-about-mb></app-about-mb>
    </mat-tab>
    <mat-tab label="Celebrity Readers"> 
        <app-celeb-readers></app-celeb-readers>     
    </mat-tab>
    <mat-tab label="Activities">
        <app-activities></app-activities>
    </mat-tab>
    <mat-tab label="Resources">
        <app-resources></app-resources>
    </mat-tab>
  </mat-tab-group>